<!-- TODO: use layout level flash message area -->
<div class='circle-info-message alert alert-success'></div>

<hr>

<div class='row'>
  <% current_user.circles.each do |circle| %>
    <div class='col-sm-6 col-md-3'>
      <div class='circle droppable'>
        <!-- TODO: Add a tooltip -->
        <%= link_to(circle.name, circle, data: { object_id: circle.id }) %>
        <br>
        <span class="circle-tie-count"><%= circle.ties.count %></span>
      </div>
    </div>
  <% end %>
</div>
