<!-- TODO: use layout level flash message area -->
<div class='circle-info-message alert alert-success'></div>

<hr>

<div class='row'>
  <% current_user.circles.decorate.each do |circle| %>
    <div class='col-sm-6 col-md-3'>
      <div class='circle droppable'>
        <%= link_to(circle.display_name, circle, data: { object_id: circle.id, title: "#{circle.ties_count} in this circle", content: "#{circle.content}" }) %>
        <br>
        <span class="circle-tie-count"><%= circle.ties.count %></span>
      </div>
    </div>
  <% end %>
</div>
