<ul class="large-contact-list">
<% current_user.circles.each do |circle| %>
  <li class="droppable"><%= link_to circle.name, edit_circle_path(circle), "data-object-id" => circle.id %></li>
<% end %>
<ul class="large-contact-list">