<h1>Your circles</h1>
<p class="content-header-bar">
<%= link_to "People in your circles (" + current_user.contacts.size.to_s + ")", circles_contacts_path, :class => (params[:action] == 'contacts' ? "current" : nil) %>
<%= link_to "People who have added you (" + current_user.contact_of.size.to_s + ")", circles_contact_of_path, :class =>  (params[:action] == 'contact_of' ? "current" : nil) %>
<%= link_to "Find new people", circles_find_people_path, :class =>  (params[:action] == 'find_people' ? "current" : nil) %>
<%= link_to "Create new circle", new_circle_path, :class =>  (params[:action] == 'new' ? "current" : nil) %>
</p>