<% content_for :toolbar do %>
  <%= render 'toolbar' %>
<% end %>

<h1><%= t('.header', count: current_user.contact_of.count) %></h1>

<div class='row'>
  <%= render partial: 'socializer/people/mini_card', collection: current_user.contact_of, as: :person %>
</div>

<%= render 'circles' %>
