@import "variables";

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
ul.activities {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.activities > li {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
}

ul.activities ul {
  list-style-type: none;
  margin: 5px 0 5px 50px;
  padding: 0;
}

ul.activities ul > li {
  border-bottom-width: 0;
  padding: 0;
  margin: 0;
}

/*.activity-content {
  white-space: pre-wrap;
}*/

.activity-subcontent
{
	padding: 5px 20px 10px 50px;
}

.ui-tooltip-content ul
{
	padding: 0;
	margin: 0;
}

ul.activities a.important-link
{
	font-weight: bold;
	text-decoration: none;
	color: #00a;
}

ul.activities a.unimportant-link
{
	text-decoration: none;
	color: #aaa;
}

ul.activities > a
{
	color: #00a;
	text-decoration: none;
}

ul.activities > a:hover
{
	text-decoration: underline;
}

textarea.note-content-field
{
	width: 100%;
	height: $input-height-base;
	resize: none;
	// border: 1px solid #ccc;
/*	margin-bottom: 5px;*/
  // padding: $padding-base-vertical $padding-base-horizontal;
}

ul.activities .separator
{
	color: #ccc;
}

.separator:before
{
  content: '\2013';
}
