@import "variables";

// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
ul.activities {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.activities > li {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

ul.activities ul {
  padding: 0;
  margin: 5px 0 5px 50px;
  list-style-type: none;
}

ul.activities ul > li {
  padding: 0;
  margin: 0;
  border-bottom-width: 0;
}

// .activity-content {
//   white-space: pre-wrap;
// }

.activity-subcontent {
  padding: 5px 20px 10px 50px;
}

.ui-tooltip-content ul {
  padding: 0;
  margin: 0;
}

ul.activities a.important-link {
  font-weight: bold;
  color: #00a;
  text-decoration: none;
}

ul.activities a.unimportant-link {
  color: #aaa;
  text-decoration: none;
}

ul.activities > a {
  color: #00a;
  text-decoration: none;
}

ul.activities > a:hover {
  text-decoration: underline;
}

textarea.note-content-field {
  width: 100%;
  height: $input-height-base;
  resize: none;
  // border: 1px solid #ccc;
  // margin-bottom: 5px;
  // padding: $padding-base-vertical $padding-base-horizontal;
}

ul.activities .separator {
  color: #ccc;
}

.separator:before {
  content: "\2013";
}
