// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
.small-contact-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.small-contact-list li {
  display: inline;
  padding: 0;
  margin: 0;
}

.small-contact-list li img {
  width: 40px;
  height: 40px;
}

// .large-contact-list {
//  list-style-type: none;
//  padding: 20px 0;
// }

// .large-contact-list li {
//  display: inline;
//  padding: 0;
//  margin: 0;
// }

// .droppable.circle {
// .circle {
//  border: 5px solid #ddd;
//  background-color: #efefef;
//  width: 120px;
//  display: block;
//  float: left;
//  margin-right: 10px;
//  margin-bottom: 10px;
//  text-align: center;
//  padding: 43px 0;

//  moz-border-radius: 50%;
//  -webkit-border-radius: 50%;
//  -khtml-border-radius: 50%;
//  border-radius: 50%;

//  -moz-background-clip: padding;
//  -webkit-background-clip: padding-box;
//  background-clip: padding-box;
// }
// .circle.droppable-hover {
//   background-color: red;
// }

.circle-info-message {
  // padding: 10px 20px;
  // text-align: center;
  // border: 4px solid #c6d880;
  // background: #e6efc2;
  // color: #264409;
  // font-weight: bold;
  display: none;
  // clear: both;
  // margin: 20px;
}

// .droppable.circle a:link, .droppable.circle a:active, .droppable.circle a:visited {
//  text-decoration: none;
//  color: $black;
//  font-weight: bold;
// }

// .droppable.circle a:hover {
//  color: #a00;
// }
