// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
.large-group-list {
  padding: 20px 0;
  list-style-type: none;

  li div.group-card {
    display: block;
    float: left;
    width: 205px;
    padding: 15px 5px 0;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #efefef;
    border: 5px solid #ddd;
  }

  li div.group-info {
    min-height: 100px;
    max-height: 100px;
  }

  li div.group-actions {
    padding: 5px;
    text-align: right;
  }

  li div.public {
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  li div.restricted {
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  li div.private {
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  li div span.group-name {
    display: block;
    font-size: 13pt;
    font-weight: bold;
  }

  li div span.group-member-count {
    float: left;
  }

  li div span.group-privacy-level {
    float: right;
  }
}
