// Place all the styles related to the matching controller here.
// They will automatically be included in application.css.
.large-group-list {
  padding: 20px 0;
  list-style-type: none;
}

.large-group-list li div.group-card {
  display: block;
  float: left;
  width: 205px;
  padding: 15px 5px 0;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #efefef;
  border: 5px solid #ddd;
}

.large-group-list li div.group-info {
  max-height: 100px;
  min-height: 100px;
}

.large-group-list li div.group-actions {
  padding: 5px;
  text-align: right;
}

.large-group-list li div.public {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.large-group-list li div.restricted {
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.large-group-list li div.private {
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.large-group-list li div span.group-name {
  display: block;
  font-size: 13pt;
  font-weight: bold;
}

.large-group-list li div span.group-member-count {
  float: left;
}

.large-group-list li div span.group-privacy-level {
  float: right;
}
