.simple-form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    // Required for Webkit, but not for Gecko
  }

  label {
    float: left;
    width: 100px;
    margin: 2px 10px;
    text-align: right;
  }

  .error {
    display: block;
    margin-left: 120px;
    clear: left;
    color: $black;
  }

  .hint {
    display: block;
    margin-left: 120px;
    clear: left;
    font-style: italic;
    color: $gray;
  }
}


div.boolean,
.simple-form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection-radio-buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  margin-left: 2px;
  vertical-align: -2px;
}

.field-with-errors {
  background-color: #f33;
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }

  &.check-boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection-check-boxes {
  float: none;
  margin: 0;
  margin-left: 2px;
  vertical-align: -2px;
}
