@import "variables";
@import "bootstrap/mixins";
@import "bootstrap-custom";

// Core variables and mixins
@import "mixins";

// Core CSS
@import "components/scaffolding";

// Components
@import "components/navbar";
@import "components/masthead";
@import "components/toolbar";
@import "components/navbar-common";
@import "components/media";
@import "components/list-group";
@import "components/panels";

// Components w/ JavaScript


// body { @extend .container; }
body {
  padding-top: 100px; // TODO: Remove !important
}

// body > header { @extend .page-header;
//   p { @extend .lead; }
// }

body > main {
  // @include make-row;
  // nav {
  //   @extend .col-lg-3;
  //   ul {
  //     @extend .list-group;
  //     li {
  //       @extend .list-group-item;
  //     }
  //   }
  // }
}

#stream-column {
  @include make-sm-column(2);
}
#page-content {
  @include make-sm-column(7);
}
#contextual-column {
  @include make-sm-column(3);

  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
.topbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  @extend .navbar-masthead;
  z-index: $zindex-masthead-fixed;

  .avatar {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-top: -4px;
    margin-bottom: -2px;
  }

  .search-form {
    @extend .navbar-form;
    margin-left: -15px;
  }
}

.toolbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  @extend .navbar-toolbar;
  top: 45px;
  z-index: $zindex-toolbar-fixed;
}

article {
  @extend .panel;
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-heading-bg);
  padding: 15px;
}
article h1 {
  font-size: ($font-size-large + 1);
  line-height: 20px;
  margin-top: 12px;

  a {
    color: $gray-dark;
    &:hover {
      color: lighten($gray-dark, 20%);
    }
  }

  small {
    font-size: 12px;
  }
}
article h2 {
  font-size: $font-size-large;
  line-height: 18px;
}
article footer {
  border-top-width: 0;
  margin-top: 15px;
  padding: 0;

  p {
    margin-bottom: 9px;
  }
}
