*.DS_Store
*.rbc
*.sassc
.sass-cache
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/pkg/*
/spec/tmp/*
/config/*.yml
/config/initializers/omniauth.rb
Gemfile.lock

test/dummy/config/*.yml
test/dummy/log/
test/dummy/tmp/
test/dummy/db/*.sqlite3