<% content_for :toolbar do %>
  <%= render "socializer/people/toolbar", person: @person %>
<% end %>

<h1>Send a message</h1>

<div id="message_<%= dom_id(@person) %>">
  <%= render "socializer/notes/form", note: @note, title: @title, current_id: @current_id %>
</div>
