<ul class="list-unstyled">
  <% @object_ids.each do |object| %>
    <% if object == 'public' %>
      <li><%= t('.tooltip.public') %></li>
    <% else %>
      <li><%= object.activitable.display_name %></li>
    <% end %>
  <% end %>
</ul>
