//
// Circles
// --------------------------------------------------


// Variables
// --------------------------------------------------
$circle-default-color:              #666;
$circle-default-bg:                 #e5e5e5;
$circle-default-border:             #dcdcdc;


// Base styles
// --------------------------------------------------

.circle {
  background-color: $circle-default-bg;
  color: $circle-default-color;
  text-align: center;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  padding: 45px 0;
  margin: 10px auto;
  cursor: pointer;

  &:hover,
  &.droppable-hover {
    background-color: darken($circle-default-bg, 10%);
    transition: all 0.3s ease-in-out 0s;
  }

  a {
    color: $circle-default-color;
  }
}


// Alternate circles
// --------------------------------------------------
