// Media objects
// Source: http://stubbornella.org/content/?p=497
// --------------------------------------------------

$media-color: $text-color;
$media-image-width: 48px;
$media-image-width-sm: 32px;
$media-gutter: 10px;
$media-font-size-h1: ($font-size-base + 2);
$media-font-size-h2: $font-size-base;

.media {
  display: table;
  width: 100%;
  margin-bottom: $line-height-base;
  padding-bottom: 5px;
  // border-bottom: 1px solid transparentize($media-color, .9);

  &:last-child {
    padding-bottom: 0;
    // border-bottom: 1px solid transparent;
  }

  small {
    font-size: $font-size-small;
  }

  &.panel {
    padding: 10px;
  }
}

.media-object,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-object {
  padding-right: $media-gutter;

  img {
    width: $media-image-width;
    height: auto;
    border-radius: $border-radius-base;
    display: block;
    max-width: none;
  }

  &.right-align {
    padding-right: 0;
    padding-left: $media-gutter;
  }
}

.media-body {
  width: 100%;

  h1,
  h2 {
    font-size: $media-font-size-h1;
    margin-bottom: .5em;

    a {
      color: $gray-dark;
      &:hover {
        color: lighten($gray-dark, 20%);
      }
    }
  }

  h2 {
    font-size: $media-font-size-h2;
    margin-top: 5px;
  }

  p {
    // margin-bottom: .5em;
    white-space: pre-wrap;
  }
}

.media-sm {
  .media-object {
    img {
      width: $media-image-width-sm;
    }
  }

  .media-body {
    h1 {
      font-size: $font-size-base;
    }
  }
}

.media-body-footer {
  // margin: 10px -15px 5px;
  // padding: 5px 15px 1px;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}

.media-body-attachment {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.media-comments {
  // margin: 0 -15px;
  padding: 10px;
  background-color: #F1F1F1;
  border-top: 1px solid #E5E5E5;
  box-shadow: none;

  h1 {
    margin-top: 8px;
  }
}
