<% content_for :toolbar do %>
  <%= render 'toolbar' %>
<% end %>

<h1><%= t('.header') %></h1>

<section class='notifications'>
  <% index_notification = 0 %>

  <% @notifications.each do |notification| %>

    <%
      index_notification += 1
      classname = 'panel-default'
      classname = 'panel-default bg-muted' if notification.read
      classname = 'panel-success bg-success' if index_notification <= current_user.activity_object.unread_notifications_count
    %>

    <%= render notification, classname: classname %>
  <% end %>
  <%#= render @notifications %>
</section>
