<% content_for :toolbar do %>
  <%= render "toolbar" %>
<% end %>

<h1><%= t(".header") %></h1>

<section class="notifications">
  <% @notifications.each.with_index(1) do |notification, index| %>
    <%= render notification, classname: notification.card_class(index: index) %>
  <% end %>
  <%#= render @notifications %>
</section>
