<h3><%= @title %></h3>
<ul class="small-contact-list">
<% @group.members.each do |member| %>
  <li><%= link_to image_tag(member.avatar_url), stream_path(:provider => :people, :id => member.id) %>
<% end %>
</ul>