<% content_for :toolbar do %>
  <%= render 'toolbar' %>
<% end %>

<h1>
  <div class='pull-right'>
    <%= link_to(t('.new_group'), new_group_path, class: 'btn btn-primary') %>
  </div>
  <%= t('.header') %>
</h1>
