<div class="activity-top">
  <%# Author's name  %>
  <%= link_to activity.actor.display_name, stream_path(provider: :people, id: activity.actor.id), class: "important-link" %>
  <span class='separator'></span>

  <%# Time elapsed %>
  <%= link_to time_ago(activity.created_at), stream_path(provider: :activities, id: activity.id), class: "unimportant-link" %>

  <%# List of audiences %>
  <!-- FIXME: Displays duplicates -->
  <% activity.audiences.uniq.each do |audience| %>

    <span class='separator'></span>

    <% if audience.privacy_level.public? %>
        <%= link_to audience.privacy_level.text, stream_audience_path(activity), class: 'tooltip unimportant-link', title: "#{t('.tooltip_public')}" %>
    <% else %>
      <%= link_to "Limited", stream_audience_path(activity), class: 'tooltip unimportant-link' %>
    <% end %>

  <% end %>

</div>
