<h3><%= t('.header') + " (#{current_user.contacts.count})" %></h3>
<ul class="small-contact-list">
  <% current_user.contacts.each do |contact| %>
    <li>
      <%= contact.decorate.link_to_avatar %>
    </li>
  <% end %>
</ul>
