<h3>In your circles</h3>
<ul style="padding: 0 20px; margin: 0;">
<% current_user.circles.each do |circle| %>
  <% circle.ties.each do |tie| %>
  <li><%= link_to tie.contact.display_name, stream_path(:provider => :people, :id => tie.contact.id) %>
  <% end %>
<% end %>
</ul>