<ul class="list-unstyled">
  <% @object_ids.each do |object| %>

    <% if object == 'public' %>

      <li>Anyone can see this</li>

    <% elsif object.person? %>

      <li><%= object.activitable.display_name %></li>

    <% else %>

      <li><%= object.activitable.name %></li>

    <% end %>

  <% end %>
</ul>
