<% if params[:provider] == 'people' %>

  <%= render 'socializer/people/menu', person: @person %>

<% else %>

  <h1><%= @title %></h1>

  <%= render 'socializer/notes/form' %>

<% end %>

<ul class="activities">
  <%= render @activities %>
</ul>
