<div class="col-sm-3">
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <%= tag.span(class: "fa fa-#{authentication.provider.downcase} fa-2x") %>
      <%= authentication.provider.downcase if authentication.provider.downcase == "identity" %><br>
      <%= authentication.uid %><br>
      <%= link_to t(".unbind"), authentication, method: :delete %>
    </div>
  </div>
</div>
