<%= render 'menu' %>

<div class='row'>
  <%= render @authentications %>
</div>

<%# @authentications.each do |authentication| %>
<!-- <div style="text-align: center; margin: 10px 10px 10px 0; padding: 15px 0; border: 1px solid #ccc; background-color: #dedede; width: 150px; float: left;">
  <%#= content_tag(:span, nil, class: "fa fa-#{authentication.provider.downcase} fa-2x") %>
  <%#= authentication.provider.downcase if authentication.provider.downcase == 'identity' %><br>
  <%#= authentication.uid %><br>
  <%#= link_to t('.unbind'), authentication, method: :delete %>
</div> -->
<%# end %>
